{% extends "base.html" %} 
 

{% block content %}
<div style=width:600px;>

 
<br>
   


  <hr>
  <hr>
<big>
<h1>Admin Tasks</h1>  
<p><a href="admin_findallposts">Find all the URLS</a> in the blog  <br><small>This will find all the post titles and urls, and will store them in the database </small></p>
<p><a href="admin_scrape">Scrape all the posts</a> in the blog <br><small>This will open each post we stored in the database and scrape its contents, and stores them in the database, resulting in an updated search index</small></p>
  
 
   <hr> 
   <hr>

 
  
    
<h1>Want to go directly to the blog?</h1>	 
<p>Click here to see the <a href="https://www.longcovidmind.info/">Long Covid Mind blog</a>.  </p>
 
</big> 
 
<br><br>
  
 
 

</div>
{% endblock content %}





 