{% extends "base.html" %} 
 

{% block content %}
<div style=width:600px;>

 
<br>
   


  <hr>
  <hr>
<big>
<h1>Find Relevant Posts</h1>  
<p>See the <a href="userseesposts">posts</a> in chronological order</p>
<p>Search by <a href="usersearch">keywords separated by commas</a> </p>
 

  <hr>
   <hr>
 
<h1>Explanation</h1>
<p><small>I've been blogging Mike's Long Covid journey. This page you're reading now lets you search for information in that blog.
  
   Just use commas between words or phrases, and I'll show you all the posts containing one or more of your search terms.</small>  </p>   
  <hr> 
   <hr>
<h1>Want to go directly to the blog?</h1>	 
<p>Click here to see the <a href="https://www.longcovidmind.info/">Long Covid Mind blog</a>.  </p>
 
</big> 
<p><small>Admin only tasks <a href="admin_home"> update search index</a> (note: you have to be logged in to superuser) </small></p>    
 

 
   <hr> 
   <hr>
 
<br><br>
  
 
 

</div>
{% endblock content %}





 