{% extends "base.html" %} 
 

{% block content %}
<div style=width:600px;>

 
<br>
   


  <hr>
  <hr>
<big>
<h1>Find Relevant Posts</h1>  
<p>Search by <a href="findallposts">post title</a></p>
<p>Search by <a href="">keywords separated by commas</a></p>
<p>Search from <a href="">a list of suggestions</a> </p>
<p>Admin only tasks <a href="https://longcovidjourney.geekandglitter.repl.co/admin_home"> update search index</p>  
 
   <hr> 
   <hr>

 
 
<h1>Explanation</h1>
<p>Mike's journey is in a blog. This page you're reading now connects to the blog to let you find stuff. 
  
   Just use commas between words or phrases, and I'll show you all the posts containing one or more of your search terms.  </p>   
  <hr> 
   <hr>
<h1>Want to go directly to the blog?</h1>	 
<p>Click here to see the <a href="https://www.longcovidmind.info/">Long Covid Mind blog</a>.  </p>
 
</big> 
 
<br><br>
  
 
 

</div>
{% endblock content %}





 